langchain
langchain-core
langchain-huggingface
langchain-community
langchain-huggingface==1.2.2
langgraph
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests