langchain
langchain-core
langchain-huggingface
langchain-community
langchain-huggingface==1.2.2
langgraph
langchain-openai
langchain-chroma
langchain-google-genai
langchain-groq
langchain-mistralai
python-dotenv
sentence-transformers==5.5.1
faiss-cpu
tiktoken
fastapi
uvicorn
requests